* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
}

.main {
	/* border: 1px solid black; */
	width: 80%;
	margin: 0 auto;
	padding: 10px;
}

ul {
	list-style: none;
}

.khung-tim-kiem {
	padding-top: 20px;
	background: white;
}

.khung-tim-kiem h3 {
	color: #f7941e;
}

.san-pham {
	padding-top: 20px;
	background: white;
}

.san-pham__header {
	padding-left: 20px;
	font-size: 16px;
	font-weight: 500;
	padding-bottom: 20px;
	border-bottom: 1px solid lightgray;
	margin-bottom: 20px;
}

.san-pham__list {
	border: 1px solid white;
	background: white;
}

.san-pham__list__item {
	
	box-sizing: border-box;
}


.san-pham__list__item:hover {
	border: 1px solid lightgray;
}

.card-san-pham {
	position: relative;
	border: 1px solid white;
}

.card-san-pham__khuyen-mai {
	background: #f7941e;
	display: inline;
	position: absolute;
	top: 10px;
	right: 10px;
	color: white;
	font-weight: bold;
	font-size: 18px;
	text-align: center;
	vertical-align: middle;
	padding: 10px;
	border-radius: 50%;
}